body{
	margin: 0px;
}

#displayGrid{
  width: 500px;
  height: 500px;
}

.grid-container{
	padding: 0;
	display: grid;
}

#invalidMove,
#time{
	color: white;
	position: fixed;
	margin: 10px;
}

#invalidMove
{
	display: none;
	left: 40px;
}

/*.box {
	grid-row: auto;
	grid-column: auto;
}*/
