body{
	margin: 0px;
}

#displayGrid{
  width: 500px;
  height: 500px;
}

.grid-container{
	padding: 0;
	display: grid;
}

#invalidMove{
	display: none;
}



/*.box {
	grid-row: auto;
	grid-column: auto;
}*/
