body{
	margin: 0px;
  overflow: hidden;
}

#displayGrid{
  width: 500px;
  height: 500px;
}

.grid-container{
	padding: 0;
	display: grid;
}

#invalidMove{
	display: none;
}

#GUI-header{
  display: table;
  height: 50px;
  width: 100%;
  background-color: pink;
}



/*.box {
	grid-row: auto;
	grid-column: auto;
}*/
